In [1]:
import geopandas as gpd
from sqlalchemy import create_engine
import numpy as np

In [2]:
# Cargar el Shapefile
# Han de estar els 4 fitxer junts.
gdf_catastral = gpd.read_file('./data/PARCELA.shp')

In [3]:
gdf_catastral.head(1)

,MAPA,DELEGACIO,MUNICIPIO,MASA,HOJA,TIPO,PARCELA,COORX,COORY,VIA,...,FECHAALTA,FECHABAJA,NINTERNO,PCAT1,PCAT2,EJERCICIO,NUM_EXP,CONTROL,REFCAT,geometry
0,17411,17,16,16238,DG8612S,U,07,481596.82,4662089.22,107,...,20130618,99999999,282201605.0,1623807,DG8612S,0,0,0,1623807DG8612S,"POLYGON ((481593.446 4662096.999, 481595.033 4..."

In [4]:
# Creem un nou camp que és cobertura
gdf_catastral['COBERTURA'] = 0;

In [15]:
print(gdf_catastral.dtypes)

MAPA            int64
DELEGACIO       int64
MUNICIPIO       int64
MASA           object
HOJA           object
TIPO           object
PARCELA        object
COORX         float64
COORY         float64
VIA             int64
NUMERO        float64
NUMERODUP      object
NUMSYMBOL       int64
AREA            int64
FECHAALTA       int64
FECHABAJA       int64
NINTERNO      float64
PCAT1          object
PCAT2          object
EJERCICIO       int64
NUM_EXP         int64
CONTROL         int64
REFCAT         object
geometry     geometry
COBERTURA       int32
dtype: object

In [16]:
# Li assignem valors aleatoris 1 o 0.
gdf_catastral['COBERTURA'] = np.random.randint(2, size=len(gdf_catastral))

In [17]:
gdf_catastral.head(5)

,MAPA,DELEGACIO,MUNICIPIO,MASA,HOJA,TIPO,PARCELA,COORX,COORY,VIA,...,FECHABAJA,NINTERNO,PCAT1,PCAT2,EJERCICIO,NUM_EXP,CONTROL,REFCAT,geometry,COBERTURA
0,17411,17,16,16238,DG8612S,U,07,481596.82,4662089.22,107,...,99999999,282201605.0,1623807,DG8612S,0,0,0,1623807DG8612S,"POLYGON ((481593.446 4662096.999, 481595.033 4...",0
1,17411,17,16,16238,DG8612S,U,05,481598.59,4662109.55,122,...,99999999,282201606.0,1623805,DG8612S,0,0,0,1623805DG8612S,"POLYGON ((481593.446 4662096.999, 481589.983 4...",1
2,17411,17,16,16238,DG8612S,U,04,481583.52,4662117.95,122,...,99999999,282201604.0,1623804,DG8612S,0,0,0,1623804DG8612S,"POLYGON ((481589.020 4662100.405, 481583.143 4...",0
3,17411,17,16,13344,DG8613S,U,05,481191.31,4663201.53,274,...,99999999,281899488.0,1334405,DG8613S,0,0,0,1334405DG8613S,"POLYGON ((481216.561 4663217.354, 481215.661 4...",1
4,17411,17,16,13344,DG8613S,U,04,481219.76,4663231.75,274,...,99999999,281899489.0,1334404,DG8613S,0,0,0,1334404DG8613S,"POLYGON ((481224.839 4663248.036, 481225.966 4...",1

In [18]:
# Conexión a la base de datos PostgreSQL/PostGIS
engine = create_engine('postgresql://postgres:Inda!576074!@localhost:5432/catastro')

# Guardem les dades a Postrgres
gdf_catastral.to_postgis('catastral', engine, if_exists='replace')